.container {
    border: 1px solid green;
    width: 60%;
    margin: 0px 0px 0px 360px;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkgray;
}
.article {
    border: 1px solid blueviolet;
    width: 98%;
    margin: 7px;
    float: left;
}
.article > div {
    border: 1px solid orange;
    padding: 9px;
}
#barra{
    display: none;
    background-color: rgb(59, 186, 236);
    padding: 20px;
}
.notice:hover #barra {
    display: block;
}
h1 + p {
    color: royalblue;
}
img {
    width: 90%
}
body{
    background-color: rgb(243, 207, 160);
}